<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Albums</h1>
    <ul>
        <% for(let i = 0; i < albums.length; i++) { %>
            <li>
                <a href="/albums/<%=albums[i].id%>"><%=albums[i].name; %></a> By- <a href="/artists/"><%=albums[i].artist; %></a>
            </li>
            
        <% } %>
    </ul>
    

</body>
</html>